# アプリケーション本体
fastapi
uvicorn[standard]
mangum
boto3

# テスト関連
pytest
pytest-asyncio  # FastAPI の非同期エンドポイントのテストに必要
httpx           # テストクライアントとして使用（非同期対応）

# ツール系
pip-tools       # requirements.txt のロックファイル生成用（pip-compile）
python-dotenv
